.HomePage{
  width: auto;
  height: calc(100vh - 60px);
  padding: 2rem 0;
  background: url('../../images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  color: #ffffff;
}

.btn-platzi{
  background-color: #98ca3f;
}